* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #070C0C;
  font-family: Monospace;
}

h1 {
   border: 2px solid black;
  color: white;
  margin: 20px 		;
  background-color: #3A4F50;
  display: block;
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}

.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
   margin-top: 50px; 
}

.box {
  width: 33.33%; /* Cada sección ocupa un tercio del contenedor */
  height: 200px;
  background-color: #0EF6CC;
  border: 3px solid;
  margin: 2.5%; /* Margen del 2.5% en cada lado */
  padding: 20px;
  border: 2px solid black;
  overflow: auto;
  position: relative;
  box-sizing: border-box; /* Incluye el borde y el padding en el ancho y alto del elemento */
}

p {
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.box p {
  word-wrap: break-word;
}

.title_box {
  color: white;
  margin: 10px;
  padding: 2px;
  border: 3px solid black;
  display: inline-block;
  position: absolute;
  background-color: #3A4F50;
  top: -10px;
  right: -10px;
}

@media (max-width: 992px) {
  .box {
    width: 100%; /* Cada sección ocupa el 100% del contenedor en dispositivos más pequeños */
    margin: 2.5% 0; /* Margen del 2.5% arriba y abajo, sin margen izquierdo y derecho */
    float: none; /* Desactiva la propiedad float en dispositivos más pequeños */
  }
}
@media (min-width:768px) and (max-width:991px){
	.container{
		display:flex;
		flex-wrap: wrap;


	}
	.box{
		width: 50%;
		float: left;
	}
	.box:nth-child(3) {
    width: 100%;
    clear: both;
  }
}
@media (max-width: 767px){
	.container{
		display:flex;
		flex-wrap: wrap;


	}
	.box{
		width: 100%;
		clear:both;
	}
}
